@model IEnumerable<MagicHexagonsModel.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Магазин смартфонов</title>
</head>
<body>
    <h3>Смартфоны</h3>
    <table>
        <tr>
            <td>Пароль</td>
            <td>Почта</td>
            <td></td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Password</td>
                <td>@user.Email</td>
                <td><a href="~/Home/Buy/@user.Id">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>
